/app/data/chroma_storage/
/app/data/documents/
/app/data/reports
/app/data/testsets
/example_upload_data/d4f
/example_upload_data/d4f/
/app/data/uploads/
/app/data/chroma_storage/
.env.local
.secret.local
.idea/
.vscode/

.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

python_packages/
.python-version

logs/
chroma_storage/
app/data/chroma_storage/

# latex output
# Compiled files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml
*.bcf

*.ist
*.slo
# LaTeX intermediate/preview files
*.nav
*.snm
*.vrb