/app/data/chroma_storage/
/app/data/documents/
/app/data/reports
/app/data/testsets

.env.local
.secret.local
.idea/
.vscode/

.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

python_packages/
.python-version

logs/
chroma_storage/
app/data/chroma_storage/