# This is a temporary fix for the litellm package to fix connection issues with ollama
#litellm #==1.67.5
litellm @ git+https://github.com/BartzLeon/litellm.git@patched-litellm#egg=litellm

# infra
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic==1.11.1
celery
redis
watchdog
uvicorn

# langchain
langchain>=0.3.14
langchain-openai
langchain_experimental
langchain_community
pydantic>=2
docarray
ruff
bs4
ipytest
giskard[llm] #>= 2.16.0
langchain_chroma
langchain_mistralai
langchain-huggingface
langchain_core
ragas
pandas
langchain-ollama
ollama
python-multipart
pypdf